@import url('https://fonts.googleapis.com/css?family=Nunito');
html {
    font-family: 'Nunito', sans-serif !important;
}

body {
    font-family: 'Nunito', sans-serif !important;
}

.mold:hover {
    background: white;
    color: #2096ff !important;
    border-radius: 10px;
}

.log{

}